<!DOCTYPE html>
<html>
<title>Output Quads</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url({{ url_for('static', filename= 'ezgif.com-gif-maker.gif') }});
    min-height: 100%;
}
</style>
<body>

<!-- Sidebar with image -->
<nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:40%">
  <div class="bgimg"></div>
</nav>

<!-- Hidden Sidebar (reveals when clicked on menu icon)-->
<nav class="w3-sidebar w3-black w3-animate-right w3-xxlarge" style="display:none;padding-top:150px;right:0;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="closeNav()" class="w3-button w3-black w3-xxxlarge w3-display-topright" style="padding:0 12px;">
    <i class="fa fa-remove"></i>
  </a>
{#    <a href="http://127.0.0.1:5000/output_Data">Continue</a>#}
{#    <button onclick="window.location.href='/output_Data'">Continue</button>#}
  <div class="w3-bar-block w3-center">
    <a href= "http://127.0.0.1:5000" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">Home</a>
    <a href="http://127.0.0.1:5000/output_Data" class="w3-bar-item w3-button w3-text-grey w3-hover-black" target="_blank" onclick="closeNav()">Check Output</a>
    <a href="http://127.0.0.1:5000/aboutUs" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">Contact</a>
  </div>
</nav>

<!-- Page Content -->
<div class="w3-main w3-padding-large" style="margin-left:40%">

  <!-- Menu icon to open sidebar -->
  <span class="w3-button w3-top w3-white w3-xxlarge w3-text-grey w3-hover-text-black" style="width:auto;right:0;" onclick="openNav()"><i class="fa fa-bars"></i></span>

  <!-- Header -->
  <header class="w3-container w3-center" style="padding:128px 16px" id="home">
    <h5 class="w3-jumbo"><b>Output Quads</b></h5><br><br><br>
    <p>Your RDF quads are ready to be downloaded</p>
    <img src="bg.png" class="w3-image w3-hide-large w3-hide-small w3-round" style="display:block;width:60%;margin:auto;"><img src="bg.png" class="w3-image w3-hide-large w3-hide-medium w3-round" width="1000" height="1333">





      <form action = "/database_download" method = "POST"
         enctype = "multipart/form-data">
         <input name = "text" value="{{ filename }}" type="hidden">
         <input type = "submit" class="w3-button w3-light-grey w3-padding-large w3-margin-top" value="Download">

        {# Query the data button#}
         <a href="/queryOutput" class="w3-button w3-light-grey w3-padding-large w3-margin-top" >Queries</a>

          <a href="/extractEntity" class="w3-button w3-light-grey w3-padding-large w3-margin-top" >Entity extraction</a>
          <a href="/relationships" class="w3-button w3-light-grey w3-padding-large w3-margin-top" >Relationships</a> </br>

          <a href="/semanticSimilarity" class="w3-button w3-light-grey w3-padding-large w3-margin-top" >Semantic similarity</a>
          <a href="/relImages" class="w3-button w3-light-grey w3-padding-large w3-margin-top" >Related images</a>
          <a href="/pImages" class="w3-button w3-light-grey w3-padding-large w3-margin-top" >Pure images</a>
          <a href="/allfeatures" class="w3-button w3-light-grey w3-padding-large w3-margin-top" >Linked Data</a>


      </form>





  </header>


  <!-- About Section -->
  <div  id="about">
    <h2>Results</h2>
    <hr class="w3-opacity">

  {% autoescape false %}
<div id="cont"style="border-style: dashed; border-width: thin; border-color: mediumblue">
    <p style="padding-left: 10px; padding-right: 10px; padding-top: 10px">
        {{ filename }}
    </p>
</div>
  {% endautoescape %}





  <!-- Contact Section -->
  <div class="w3-padding-32 w3-content w3-text-grey" id="contact" style="margin-bottom:64px">
    <h2>Contact Me</h2>
    <hr class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Kansas City, US</p>
      <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +1 (913)850-1395</p>
      <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: mggvf@mail.umkc.edu</p>
    </div>

     <!-- Google Map -->
    <div id="googleMap" class="w3-greyscale-max" style="width:100%;height:300px;margin:36px 0;"></div>

    <p>Lets get in touch. Send me a message:</p>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  <!-- End Contact Section -->
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin:-24px">
    <a href="https://www.facebook.com/gharibimo" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
    <a href="https://twitter.com/Mohamed_Gharibi" target="_blank"><i class="fa fa-twitter w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/in/gharibim/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
    <a href="https://github.com/gharibim" target="_blank"><i class="fa fa-github w3-hover-opacity"></i></a>

    <p class="w3-medium">Powered by Mohamed Gharibi </p>
    <!-- <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a> -->
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>

<!-- Add Google Maps -->
<script>
function myMap()
{
  myCenter=new google.maps.LatLng(39.033533, -94.6460659);
  var mapOptions= {
    center:myCenter,
    zoom:12, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}

// Open and close sidebar
function openNav() {
    document.getElementById("mySidebar").style.width = "60%";
    document.getElementById("mySidebar").style.display = "block";
}

function closeNav() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEZDouaJgOqyzYwcRalIn3EiWfeKRScFM&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

</body>
</html>

